@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #002e63;
	background-color: #cdcbcd;
	opacity: 0.75;
	background-position: center;
	font-family: Georgia, Times, serif;
	margin: 0px;
}

.wrapper {
	width: 940px;
	margin: 10px auto 10px auto;
}

header {
	height: 160px;
}

h1 {
	font-family: 'museo_sans500', Impact, sans-serif;
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-family: 'museo_sans500', Impact, sans-serif;
	font-size: 24px;
	color: #002e63;
}

h3 {
	font-family: Georgia, Times, serif;
	color: #002e63;
	font-size: 18px;
}

nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #4d4d4d;
	height: 25px;
	border: 1px solid #808080;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 20px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

.houses {
	float: left;
	width: 640px;
	border-right: 1px solid #808080;
}

.about {
	float: left;
	width: 640px;
	border-right: 1px solid #808080;
}

.contact {
	float: left;
	width: 640px;
	border-right: 1px solid #808080;
}

fieldset {
	width: 480px;
	border: 1px solid #808080;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: right;
}

legend {
	background-color: #efefef;
	border: 1px solid #808080;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
}

.userinput {
	border-bottom: 1px solid #808080;
	margin: 10px;
	padding-bottom: 10px;
	width: 260px;
}

.title {
	float: left;
	width: 100px;
	clear: left;
}

.submit {
	float: left;
	text-align: right;
	color: #ffffff;
	background-color: #1a1a1a;
	border-bottom: 2px solid #b2b2b2;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

img {
	float: left;
	padding: 5px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #777777;
}

aside {
	width: 260px;
	float: left;
	padding: 0px 0px 0px 20px;
}

.itemsneeded {
	height: 250px;
	border-bottom: 1px solid #808080;
}

/* .hogwarts img {
	float: left;
	padding: 5px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #777777
} */

aside ol {
	list-style-type: decimal;
	padding: 5px;
	line-height: 1.2em;
}

footer {
	font-size: 14px;
	padding: 5px 0px 0px 20px;
}