@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #002e63;
	background-color: #222222;
	opacity: 0.75;
	background-position: center;
	font-family: Georgia, Times, serif;
	margin: 0px;
	/* position: relative; */
}

.wrapper {
	background-color: #222222;
	width: 960px;
	overflow: auto;
	position: static;
	margin: auto;/* 10px;/* auto 0px auto;*/
}

header {
	background-color: #222222;
	height: 160px;
}

h1 {
	font-family: 'museo_sans500', Impact, sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #fbfbfb;
}

h2 {
	font-family: 'museo_sans500', Impact, sans-serif;
	font-size: 24px;
	color: #fbfbfb;
}

h3 {
	font-family: Georgia, Times, serif;
	color: #002e63;
	font-size: 18px;
}

nav, footer {
	float: left;
	color: #fbfbfb;
	background-color: #4d4d4d;
	height: 25px;
	width: 938px;
	border: 1px solid #808080;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 20px;
}

nav li {
	display: inline;
	margin-right: 40px;
}

nav a {
	color: #fbfbfb;
	text-decoration: none;
}

nav a:visited {
	color: #fbfbfb;
	text-decoration: none;
}

.maincontent {
	background-color: #cdcbcd;
	float: left;
	width: 619px;
	border-right: 1px solid #808080;
}

.abouttext {
	padding: 0px 10px 22px 10px;
}

fieldset {
	width: 480px;
	border: 1px solid #808080;
	border-radius: 10px;
	background-color: #cdcbcd;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: right;
}

legend {
	background-color: #efefef;
	border: 1px solid #808080;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
}

input[type="text"] {
	width: 260px;
	padding: 5px;
	outline: none;
}

input[type="submit"] {
	background-color: #00244d;
	color: #ffffff;
	text-transform: uppercase;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.title {
	float: left;
	width: 100px;
	clear: left;
}

img {
	float: left;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #777777;
}

aside {
	width: 300px;
	float: left;
	min-height: 165px;
	background-color: #cdcbcd;
	padding: 0px 0px 0px 20px;
}

.itemsneeded {
	height: 208px;
}

.jsform {
	min-height: 228px;
}

aside ol {
	list-style-type: decimal;
	padding: 5px;
	line-height: 1.2em;
}

footer {
	float: left;
	clear: both;
	font-size: 14px;
	padding: 5px 0px 0px 0px;
}